<section class="chat__wrapper">
    <div class="side">
        <div class="side__burger">
            <svg width="29" height="18" viewBox="0 0 33 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="33" height="3.66667" fill="#6C7982" />
                <rect y="9.16669" width="33" height="3.66667" fill="#6C7982" />
                <rect y="18.3333" width="33" height="3.66667" fill="#6C7982" />
            </svg>
        </div>
        <ul class="side__user-list" data-role="user-list">
            {{#each users}}
                {{> "./user.hbs" userName=this.userName photo=this.photo id=this.id}}
            {{/each}}
        </ul>
    </div>
    <section class="chat">
        <section class="header">
            <h3 class="header__title">Чат</h3>
            <p class="header__text" data-role="count-user">2 участника</p>
        </section>
        <section class="message" data-role="message-list">
        </section>
        <section class="entering">
            <textarea class="entering__input" type="text" placeholder="Введите сообщение..." data-role="input-message"></textarea>
            <button class="entering__button" data-role="send-message">Отправить</button>
        </section>
    </section>
</section>
