body {
    background-color: #0B111A;
}

.loading__wrapper {
    margin: 0 auto;
    max-width: 1430px;
    max-height: 1040px;
    height: 100%;
    border: 2px solid #17212B;
    background-color: #0E1621;
    border-radius: 20px;
}

.loading__text {
    color: #fff;
    font-size: 55px;
    line-height: 60px;
}
