<div class="message__block" data-user="{{from}}">
    <img class="message__block-logo" src="{{photo}}">
    <div class="message__block-text">
        <h4 class="message__block-title">{{from}}</h4>
        <ul class="message__block-list" data-role="block-list">
            {{> "./message-item.hbs" text=text time=time}}
        </ul>
    </div>
</div>
