<li class="side__user-item" data-id="{{id}}">
    <img class="user__logo" src="{{photo}}">
    <h4 class="user__name">{{userName}}</h4>
    <p class="user__message" data-role="last-message"></p>
</li>
